<!DOCTYPE html>
<html>
  <head>
    <title>MustOMatic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <span>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          or 
          <%= link_to "login", new_user_session_path, :class => 'navbar-link'%>
        </span>
      <% end %>
      <h1>Mustar</h1>
    </div>
      
    <%= yield %>
      
    
    
  </body>
</html>
