<%= form_with(model: must) do |form| %>
  <% if must.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(must.errors.count, "error") %> prohibited this must from being saved:</h2>

      <ul>
        <% must.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.number_field :volume %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
