<p id="notice"><%= notice %></p>

<h1>Julmustar</h1>

<table>
  <thead>
    <tr class="table_head_row">
      <th>Namn</th>
      <th>Tillverkare</th>
      <th>Genomsittligt betyg</th>
      <th>Volym (cl)</th>
      <th>Pris</th>
      <th>Pris per liter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musts.each do |must| %>
      <tr class="table_body_row">
        <td class="must_name"><%= must.name %></td>
        <td class="must_manufacturer"><%= must.manufacturer %></td>
        <td><%= must.average_rating %></td>
        <td class="must_volume"><%= must.volume %></td>
        <td class="must_price"><%= must.price %></td>
        <td class="must_liter_price"><%= must.price_per_liter.round(2) %></td>
        <div class="actions_div">
          <td><%= link_to 'Visa', must %></td>
          <td><%= link_to 'Ändra', edit_must_path(must) %></td>
          <td><%= link_to 'Vaska', must, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Must', new_must_path %>
